/*------------------------------------ 
	
	BUILT BY CARL AND JANSBURY but mainly carl.
	
------------------------------------*/
/* ==========================================================================
   Just a font to the face
   ========================================================================== */
@font-face {
	font-family:'OpenSansRegular';
	src:url(f/OpenSans-Regular-webfont.eot);
	src:url(f/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"),
			url(f/OpenSans-Regular-webfont.woff) format("woff"),
			url(f/OpenSans-Regular-webfont.ttf) format("truetype"),
			url(f/OpenSans-Regular-webfont.svg#OpenSansRegular) format("svg");
	font-weight:400;
	font-style:normal;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
body {
	font-family:'OpenSansRegular','helvetica Neue',helvetica,arial,sans-serif;
	font-size:12px;
	color:#3e3e3e;
	background-color:#f7f7f7;
	-webkit-font-smoothing:antialiased;
}

form,p,span {
	margin:0;
	padding:0;
}

.time {
	font-size:10px;
	color:#1e95d4;
}

#exit {
	color:#f7f7f7;
	text-transform:uppercase;
	font-weight:700;
}

.chatform input {
	font-family:'OpenSansRegular','helvetica Neue',helvetica,arial,sans-serif;
	opacity:1;
}

.userName {
	text-transform:capitalize!important;
	color:#3e3e3e!important;
}

#submitmsg {
	position:absolute;
	left:-500px;
	font-family:'OpenSansRegular','helvetica Neue',helvetica,arial,sans-serif;
	opacity:0;
	position:absolute;
}

.loginform input[name=name] {
	border:none;
	outline:none;
	background-color:transparent;
	color:#3e3e3e;
	font:12px courier;
	-webkit-font-smoothing:antialiased;
}

a {
	color:white;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

input:focus {
	outline:none;
}

#wrapper,#loginform {
	margin:10px 0 0;
	padding-bottom:25px;
}

#loginform {
	padding-top:18px;
}

#chatbox {
	text-align:left;
	padding:10px 10px 0 0;
	overflow:auto;
}

#usermsg {
	width:395px;
	border:none;
	background-color:#fff;
}

.msgln i {
	color:#888787;
}

#submit {
	width:60px;
}

.error {
	color:red;
}

#menu {
	padding:10px;
	background-color:#49b7f3;
	color:#f7f7f7;
}

.welcome {
	float:left;
}

.logout {
	float:right;
	padding-left:.5%;
}

.control {
	float:right;
	color:#f7f7f7;
	text-transform:uppercase;
	font-weight:700;
	padding:0 .5%;
	border-right:1px solid #f7f7f7;
}

.msgln {
	margin:0 0 2px;
	border-bottom:1px solid #fff;
	padding:5px 0;
}

.blink {
	background-color:#fff;
}

.cursor {
	font-size:12px;
	margin-left:-5px;
}

/*================= EMOJI ================*/

.smile{
	display: inline-block;
	height: 22px;
	width: 22px;
	background-size: 220px;
	background-image:url(i/emoji.png);
	background-position: -33px 0px;
}
.happy{
	display: inline-block;
	height: 22px;
	width: 22px;
	background-size: 220px;
	background-image:url(i/emoji.png);

}
.sad{
	display: inline-block;
	height: 22px;
	width: 22px;
	background-size: 220px;
	background-image:url(i/emoji.png);
	background-position: -66px -65px;
}
.serious{
	display: inline-block;
	height: 22px;
	width: 22px;
	background-size: 220px;
	background-image:url(i/emoji.png);
	background-position: -33px -32px;
}






 
 
>>>>>>> 1524ad0c2e7bd13bb60838877be3ee5a4f7d44c1
